<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/Content/images/Admin/cms-icon.png">
    <title>CMS Master</title>
    @Styles.Render("~/Content/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Admin/js")


</head>
<body>
    <div class="page">
        @Html.Partial("PartialViews/Admin/Header")
        <div class="c1">
            @Html.Partial("PartialViews/Admin/Menu")
        </div>
        <div class="c2">
            <div class="pageInfo">
                <div class="pageTitle">
                    @RenderSection("PageTitle", false)
                </div>
                <div class="breadcrumbs">
                    <a href="/admin">strona główna cms</a> @RenderSection("Breadcrumbs", false)
                </div>
            </div>
            @Html.Partial("PartialViews/Admin/DefaultMessages")
            @RenderSection("CustomMessages", false)
            @RenderBody()
        </div>
        <div class="clear"></div>
        @Html.Partial("PartialViews/Admin/Footer")
    </div>
    @RenderSection("Scripts", false)

</body>
</html>
