<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/Content/images/Admin/cms-icon.png">
    <title>CMS Master</title>
    @Styles.Render("~/Content/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>

    <div class="navBar">
        <div style="float:right">
            @Html.Partial("PartialViews/Admin/NavigationBar")
        </div>
        <div>
            <p>
                <h1>PRZEMYSŁAWPIECHOTA.PL</h1>
            </p>
        </div>
    </div>
    <br/>
    <div>
        <div class="menu">
            @Html.Partial("PartialViews/Admin/Menu")
        </div>
        <div class="content">
            <a href="/admin">strona główna</a> @RenderSection("BreadCrumbs", false)
            <br />
            @Html.Partial("PartialViews/Admin/Messages")
            <br/>
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
