@model List<CmsMaster.Models.News>

@{
    int totalCount = ViewBag.TotalCount;
    int pageSize = ViewBag.PageSize;

    int length = totalCount / pageSize + 1;
}

@if (Model.Count > 0)
{
    <div>
        <h1>aktualności</h1>
        @foreach (var item in Model)
        {
            <div class="newsContent">
                <p>
                    <span class="labelSpan">@Html.LabelFor(m => item.Created)</span>
                    @item.Created.ToString("dd-MM-yyyy")
                </p>
                <p>
                    <span class="labelSpan">@Html.LabelFor(m => item.Title)</span>
                    @item.Title
                </p>
                <p>
                    @Html.ActionLink("Szczegóły", "NewsDetails", "Home", new { id = item.Id }, null)
                </p>
            </div>
        }
        <div id="paging">
            @for (int index = 0; index < length; index++)
            {
                @Html.ActionLink((index + 1).ToString(), "Index", "Home", new { pageNo = index }, null)<text>&nbsp;</text>
            }
        </div>
    </div>
}
else
{
    <p>
        Brak wiadomości.
    </p>
}