@model CmsMaster.Models.News

@section BreadCrumbs{
    > Szczegóły
}

<div>
    <p>
        <span class="labelSpan">@Html.LabelFor(m => Model.Created)</span>
        <span class="dateLabel">@Model.Created.ToString("dd-MM-yyyy")</span>
    </p>
    <p>
        <span class="labelSpan">@Html.LabelFor(m => Model.Title)</span>
        @Model.Title
    </p>
    <br/>
    <p>
        @Html.Raw(Model.Content)
    </p>
</div>
<br/>
@Html.ActionLink("Powrót", "Index", "Home", null, new { @class = "more" })