<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Content-type" content="text/html; charset=iso-8859-2">
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="Author" content="DevPaszel" />
    <meta http-equiv="Generator" content="nope" />
    <title>Przemysław Piechota</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="main">
    <div class="logo">
        &nbsp;
    </div>
    <div class="bar">
        @Html.Partial("PartialViews/Public/MenuBar")
    </div>
    <div class="content">
        <div>
            <a href="/">home</a> @RenderSection("BreadCrumbs", false)
        </div>
        @RenderBody()
    </div>
    <div class="footer">
        <div>
            Nam cursus sapien ac eleifend tincidunt. <a href="">Integer rutrum rutrum imperdiet.</a> Integer tincidunt eget nulla ac ultrices. Vestibulum elementum tincidunt nisi, eu cursus justo cursus vitae. Maecenas at volutpat ante. Ut venenatis ullamcorper mi a rhoncus. Duis eget condimentum nisl. Integer ut ligula libero.
        </div>
        
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
