@model CmsMaster.Models.AboutModel

@section PageTitle{
    O mnie
}

@section Breadcrumbs{
    > o mnie
}

<div>
    <div class="formHeader">
        <h2>
            O mnie
        </h2>
    </div>
    @using (Html.BeginForm("About", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "FormContainer" }))
    {
        @Html.ValidationSummary(true)

        <div class="formRow">
            @Html.LabelFor(m => m.Avatar, new { @class = "header" })
            <span class="imageInfo">
                <span class="triangle"></span>
                Preferowana szerokość: 270px.
            </span>
            <div class="content">
                @if (string.IsNullOrEmpty(Model.Avatar))
                {
                    <span>Nie wgrano jeszcze żadnego.</span>
                }
                else
                {
                    <img src="@Url.Action("GetImage", "Admin", new { path = Model.Avatar })" alt="avatar" width="270" />
                }
                <br/>
                <input id="avatar" name="avatar" type="file" />
                <span class="vtip" title="Dopuszczalne typy plików: JPG, PNG."><a class="forUiHintIco"></a></span>
            </div>
        </div>
        <div class="formRow">
            @Html.LabelFor(m => m.Content, new { @class = "header" })
            <div class="content">
                @Html.EditorFor(m => Model.Content)
                <br/>
                @Html.ValidationMessageFor(m => m.Content)
            </div>
        </div>
        <div class="formRow">
            <div class="center">
                <br />
                <input id="formSubmit" type="submit" value="Zapisz" class="submit"/> &nbsp; @Html.ActionLink("Anuluj", "Index", "Admin")
            </div>
        </div>
    }
</div>

@section Scripts{

    <script type="text/javascript">

        activateMenuItem('About');

        $("#fileRequired").hide();

        $("#formSubmit").click(function () {
            var submit = true;

            if ($('#avatar').val() != "") {

                submit = TestFileType($("#avatar").val(), ".jpg .png");

                if (submit) {
                    $("#FormContainer").submit();
                }
                else {
                    return false;
                }
            }
            else {
                $("#FormContainer").submit();
            }
        });


        function TestFileType(fileName, fileTypes) {
            if (!fileName) return false;

            dots = fileName.split(".")
            //get the part AFTER the LAST period.
            fileType = "." + dots[dots.length - 1];

            var result = (fileTypes.indexOf(fileType.toLowerCase()) != -1);

            if (!result) {
                alert("Niepoprawny format pliku. Plik powinnien być w formacie: \n\n" + fileTypes + "\n\nWybierz inny plik.");
            }
            return result;
        }
    </script>
}