@model CmsMaster.Models.NewsModel

@section PageTitle{
    Nowa aktualność
}

@section Breadcrumbs{
    > @Html.ActionLink("Lista aktualności", "NewsList", "Admin") > nowa aktualność
}

<div>
    <div class="formHeader">
        <h2>nowa aktualność</h2>
    </div>
        @using (Html.BeginForm("AddNews", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="formRow">
                @Html.LabelFor(m => m.Title, new { @class = "header" })
                <div class="content">
                    @Html.EditorFor(m => Model.Title)
                    &nbsp;
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="formRow">
                @Html.LabelFor(m => m.Content, new { @class = "header" })
                <div class="content">
                    @Html.EditorFor(m => Model.Content)
                    <br/>
                    @Html.ValidationMessageFor(m => m.Content)
                </div>
            </div>
           <div class="formRow">
               <div class="center">
                   <br/>
                   <input type="submit" value="Zapisz" class="submit"/>&nbsp;@Html.ActionLink("Powrót", "NewsList", "Admin")
               </div>
           </div>
        }
</div>

@section Scripts{
    <script type="text/javascript">
        activateMenuItem('NewsList');
    </script>
}
