@model CmsMaster.Models.UserPassword

@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.OldPassword)
    <br />
    @Html.PasswordFor(m => m.OldPassword)
    <br />
    @Html.ValidationMessageFor(m => m.OldPassword)
    <br />

    @Html.LabelFor(m => m.NewPassword)
    <br />
    @Html.PasswordFor(m => m.NewPassword)
    <br />
    @Html.ValidationMessageFor(m => m.NewPassword)
    <br />

    @Html.LabelFor(m => m.NewPasswordRepeat)
    <br />
    @Html.PasswordFor(m => m.NewPasswordRepeat)
    <br />
    @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
    <br />

    <input type="submit" value="Zapisz" />
    <a href="/admin/index">Anuluj</a>

}