@model CmsMaster.Models.UserPassword

@section PageTitle{
    Zmiana hasła
}

@section Breadcrumbs{
    > zmiana hasła
}

<div>
    <div class="formHeader">
        <h2>
            Zmiana hasła
        </h2>
    </div>
    @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="formRow">
            @Html.LabelFor(m => m.OldPassword, new { @class = "header" })
            <div class="content">
                @Html.PasswordFor(m => m.OldPassword)
                &nbsp;
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>

        <div class="formRow">
            @Html.LabelFor(m => m.NewPassword, new { @class = "header" })
            <div class="content">
                @Html.PasswordFor(m => m.NewPassword)
                &nbsp;
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>

        <div class="formRow">
            @Html.LabelFor(m => m.NewPasswordRepeat, new { @class = "header" })
            <div class="content">
                @Html.PasswordFor(m => m.NewPasswordRepeat)
                &nbsp;
                @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
            </div>
        </div>

        <div class="formRow">
            <div class="center">
                <input type="submit" value="Zapisz" class="submit" />
                &nbsp;
                <a href="/admin/index">Anuluj</a>
            </div>
        </div>
    }
</div>
