@model CmsMaster.Models.ContentModel

@section PageTitle{
    Współpraca
}

@section Breadcrumbs{
    > współpraca
}

<div>
    <div class="formHeader">
        <h2>
            Współpraca
        </h2>
    </div>
    @using (Html.BeginForm("Partnership", "Admin", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        
        <div class="formRow">
            @Html.LabelFor(m => m.ContentDescription, new { @class="header" })
            <div class="content">
                @Html.EditorFor(m => Model.ContentDescription)
                <br />
                @Html.ValidationMessageFor(m => m.ContentDescription)
            </div>
        </div>
        <div class="formRow">
            <div class="center">
                <br/>
                <input type="submit" value="Zapisz" class="submit"/> &nbsp; @Html.ActionLink("Anuluj", "Index", "Admin")
            </div>
        </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        activateMenuItem('Partnership');
    </script>
}