@model CmsMaster.Models.NewsModel

@section PageTitle{
    Edycja aktualności
}

@section Breadcrumbs{
    > @Html.ActionLink("Lista aktualności", "NewsList", "Admin") > edycja
}

<div>
    <div class="formHeader">
        <h2>
            Edycja aktualności
        </h2>
    </div>
    @using (Html.BeginForm("UpdateNews", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => Model.Id)

        <div class="formRow">
            @Html.LabelFor(m => m.Title, new { @class = "header" })
            <div class="content">
                @Html.EditorFor(m => Model.Title)
                &nbsp;
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>
        <div class="formRow">
            @Html.LabelFor(m => m.Content, new { @class = "header" })
            <div class="content">
                @Html.EditorFor(m => Model.Content)
                <br />
                @Html.ValidationMessageFor(m => m.Content)
            </div>
        </div>
        <div class="formRow">
            <div class="center">
                <br />
                <input type="submit" value="Zapisz" class="submit" />
                &nbsp;
                @Html.ActionLink("Powrót", "NewsList", "Admin")
            </div>
        </div>
    }
</div>

@section Scripts{
    <script type="text/javascript">
        activateMenuItem('NewsList');
    </script>
}
