<p>
    @Html.ActionLink("Do strony publicznej", "Index", "Home")
</p>
<p>
    @Html.ActionLink("Aktualności", "NewsList", "Admin")
</p>
<p>
    Partnerzy OC
    @*@Html.ActionLink("Partnerzy OC", "Partnership", "Admin")*@
</p>
<p>
    @Html.ActionLink("O mnie", "About", "Admin")
</p>
<p>
    @Html.ActionLink("Kontakt", "Contact", "Admin")
</p>
<p>
    @Html.ActionLink("Współpraca", "Partnership", "Admin")
</p>

